*{
    padding: 0;
    margin: 0;
    list-style: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    background: url("../images/bg-image.png") no-repeat fixed, linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1));
    background-size: cover;
}
.container {
    margin: 30px 9%;
}
#navbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
#toggle-icon:hover {
    transform: scale(1.2);
}
#nav-link {
    display: none;
}
#nav-link li {
    margin: 15px 5px;
    padding-left: 10px;
}
#nav-link li a {
    color: lightgray;
    font-size: 21px;
    text-decoration: none;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 10px;
}
#nav-link li a:hover, .active{
    color: rgb(245, 236, 236);
    background-color: gray;
}
#dropdown ul {
    margin-top: 20px;
}
#dropdown ul li {
    padding-left: 20px;
    margin: 2px 0px;
}
#dropdown ul li a {
    background: lightgray;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(45, 44, 44);
    display: inline-block;
    padding: 8px 20px;
    width: 70%;
    border-radius: 10px;
}
#dropdown ul li a:hover {
    color: black;
    background: lightblue;
}
.sub-menu li {
    display: none;
}
#nav-link ul li:hover .sub-menu li {
    display: block;
}
#search-content {
    text-align: center;
    margin-top: 30px;
}
#search-content h1 {
    color: #fff;
    font-size: 40px;
    margin-bottom: 40px;
}
#search-content input[type=text] {
    padding: 12px 20px;
    font-size: 17px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, .2);
    width: 46%;
    border: none;
}
#search-content input[type=text]:focus {
    background-color: #fff;
    outline: none ;
    border: 2px solid rgb(67, 67, 203);
}
.custom-btn {
    font-size: 21px;
    border: none;
    border-radius: 25px;
    color: #fff;
    padding: 11px 15px;
    background-color: #28A745;
    cursor: pointer;
}
.custom-btn:hover {
    background-color: #218838;
   
}
#search-btn {
    position: relative;
    left: -103px;
    top: 2px;
}
.position {
    position: absolute;
}
.warning {
    margin-top: 40px;
    font-size: 35px;
    color: rgb(201, 27, 27);
    display: none;
}
.all-song-details {
    margin: 40px 10%;
    color: #fff;
    background-color: rgba(128, 128, 128, .3);
    padding: 15px 25px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}
.all-song-details button {
    margin-top: 30px;
}
.all-song-details p {
    margin: 10px 0px;
    font-size: 18px;
}
.lyrics {
    margin: 50px 0px;
    font-size: 15px;
    color: gray;
    text-align: center;
}

 

